/*DrawPad.css*/


h1 {
	text-align: center;
	color: firebrick;
	
	
	}

h1, body {
	background: linear-gradient(#43c6ac, #f8ffae);
	}



#container {
		background-color: black;
		height: 576px;
		width: 576px;
		margin: auto;
		border: 12px ridge #f8ffae;
		
		}
		
.grid {
		background-color: dimgray;
		height: 35px;
		width: 35px;
		margin: 0.5px;
		display: inline-block;
		float: left;
	}
	

			
.active {
		background-color: darkslategray;
		}



.buttons {
		font-family: serif;
		color: white;
		margin: auto;
		display: table;
		width: 75px;
		border-radius: 10px;
		cursor: pointer;
		border: 2px outset black;
				
		}
		
.control {
		background-color: lightslategray;
		border: 2px solid black;
		width: 125px
		}
		
table {

		margin: auto;
		margin-top: 10px;
		background: #43c6ac;
		border:10px inset #f8ffae;
		}
		
.image  {

		text-align: center;
		margin-left: 400p;
		padding: 0px;
		border: 10px outset #f8ffae;
		width: 50%;
		margin: auto;
		
		
		}
		
#footer {
		position: relative;
		right: 0;
		bottom: 0;
		left: 0;
		text-align: center;
		}
		
#gridcolor {
		
		font-weight: normal;
		font-size: 14px;
		}
		
#gridoriginal {

	background-color: dimgray;
	color: white;
	
	}
	
#gridwhite {
	
	background-color: white;
	color: black;
	}
	
#gridblack {
	
	background-color: black;
	color: white;
	
	}
	
#gridpostit  {
	background-color: #fcee92;
	color: black;
	
	}
	
#gridsky  {
	
	background-color: #92ccfc;
	color: black;
	
	}
	
.gridbg  {

	width: 75px;
	border: 3px ridge SteelBlue;
	}
		
	
