/*DrawPad.css*/


h1 {
	text-align: center;
	color: firebrick;
	
	
	}

h1, body {
	background: linear-gradient(#43c6ac, #f8ffae);
	}



#container {
		background-color: black;
		height: 576px;
		width: 576px;
		margin: auto;
		border: 3px outset black
		
		}
		
.grid {
		background-color: dimgray;
		height: 35px;
		width: 35px;
		margin: 0.5px;
		display: inline-block;
		float: left;
	}
	

			
.active {
		background-color: darkslategray;
		}



.buttons {
		background-color: white;
		margin: 1px;
		display: table;
				
		}
		
.control {
		background-color: lightslategray;
		border: 2px solid black;
		}
		
table {

		margin: auto;
		margin-top: 10px;
		background-color: firebrick;
		border:5px outset dimgray;
		}
		
.image  {

		text-align: center;
		margin-left: 400p;
		padding: 0px;
		
		
		}
		

		

		
	
