/*drawpadbtn.css will handle individual button colors*/

#blue {

	background-color: blue;
	}
	
#purple {
	
	background-color: purple;
	}
	
#red  {

	background-color: red;
	}
	
#orange {

	background-color: orange;
	}
	
#black {

	background-color: black;
	
	}
	
#brown {

	background-color: saddlebrown;
	
	}
	
#yellow {

	background-color: yellow;
	color: black;
	
	}
	
#green  {

	background-color: green;
	
	}
	
#pink  {

	background-color: pink;
	color: black;
	
	}
	
#cyan  {

	background-color: cyan;
	color: black;
	
	}
	
#white {

	background-color: white;
	color: black;
	
	}
	
#lavender {

	background-color: lavender;
	color: black;
	
	}
	
#lime  {

	background-color: Lime;
	color: black;
	
	}
	
#tan  {

	background-color: BurlyWood;
	
	}
	
#indigo {

	background-color: Indigo;
	
	}
	


	
